#reservations {
    margin: 2rem 1rem 5rem;
}

#reservationDetails p, #reservationDetails h6 {
    margin: 0;
}

#reservationDetails h6 {
    font-weight: 700;
}

.reservationTimeDetails {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 760px) {
    #reservations {
        margin: 2rem 3rem 5rem;
    }
}