#productTitle {
    display: flex;
    color: #f7f5f5;
    background: #001122;
    margin-top: 3.4rem;
    overflow: hidden;
    background: var(--secondary-color);
    padding-left: 1rem;
}

#informationsTitle {
    padding: 0.5rem 1rem;
}

#previousButton {
    color: white;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}

#previousButton:hover svg {
    opacity: 50%;
}

#informationsTitle p, #informationsTitle h3 {
    margin: 0;
}

#informationsTitle h3 {
    font-weight: bold;
}

@media only screen and (min-width: 750px) {
    #productTitle {
        padding-left: 2rem;
    }
}