#search {
    background: center / cover no-repeat url(https://images.unsplash.com/photo-1529034502960-57f42a966080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
    margin-top: 3.8rem;
}

#searchBrowserTitle {
    display: flex;
    justify-content: center;
    color: #f7f5f5;
    text-shadow: 5px 5px 5px #222;
    padding: 1rem 1rem 1rem;
}

#formSearch {
    display: grid;
    /* padding-top: 1rem; */
    grid-template-areas: 
    "location"
    "date"
    "buttonSearch";
    column-gap: 1rem;
    row-gap: 0.5rem;
    background: white;
    padding: 1rem;
    background-color: #eeeeeea1;
}

#formSearch input {
    width: 100%;
    height: 2rem;
    padding-left: 0.3rem;
    border: none;
    background-color: rgb(247, 245, 245);
    color: rgb(142, 142, 142);
    border-radius: 0.2rem;
}

.location {
    grid-area: location;
}

.date {
    grid-area: date;
}

.buttonSearch {
    width: 8rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    /* background: #1dbeb4; */
    background: var(--secondary-color);
    font-size: 0.9rem;
    color: white;
    text-align: center;
    cursor: pointer;
    grid-area: buttonSearch;
    font-weight: bold;
}

.buttonSearch:hover {
    opacity: 0.9;
}

.react-datepicker {
    border: none;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.react-datepicker__header {
    background-color: rgb(251, 251, 251);
    border-bottom: 1px solid #ffffff;
    padding: 0.3rem 0;
    font-size: 0.7rem;
}

.react-datepicker__navigation-icon::before {
    /* border-color: rgb(149, 149, 149); */
    top: 0.8rem;
}

.react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0.15rem;;
}

.react-datepicker__current-month {
    text-align: left;
    color: rgb(78, 76, 76);
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.4rem 1.8rem;
}

.react-datepicker__day, .react-datepicker__day-name {
    margin: 0.07rem; 
}

.react-datepicker__day-name {
    color: var(--primary-color);
    font-weight: bold;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: #fff;
}

@media only screen and (min-width: 350px) {
    #formSearch {
        grid-template-areas: 
        "location location location"
        "date date buttonSearch"; 
    }

    .buttonSearch {
        width:auto;
    }
}

@media only screen and (min-width: 600px) {
 
    #formSearch {
        grid-template-areas: "location date buttonSearch";
    }

    .buttonSearch {
        width:auto;
    } 
}

@media only screen and (min-width: 760px) {
    #search {
        padding: 0rem 1rem 0;
        /* margin-bottom: 1rem; */
    }

    #formSearch {
        grid-template-areas: "location location date date buttonSearch";
        justify-content: center;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }

    .buttonSearch {
        width: 8rem;
    }

    #formSearch input {
        width: 17rem;
    } 
}

@media only screen and (min-width: 1200px) {
    #search {
        padding: 0rem 3rem 0;
    }

    #formSearch {
        grid-template-areas: "location location date date buttonSearch";
        justify-content: center;
    }

    .buttonSearch {
        width: 8rem;
    }

    #formSearch input {
        width: 20rem;
    }    
}