#products {
    margin: 2rem 3rem 5rem;
}

#productsTitle {
    display: flex;
    margin-top: 3.4rem;
    color: #f7f5f5;
    background: #001122;
    overflow: hidden;
    background: var(--secondary-color);
    padding-left: 1rem;
}