.errorMessage {
    width: 100%;
}

#checkinTime {
    box-shadow: 0 0.5rem 1rem #b8b8b8;
    border-radius: 0.5rem;
    padding: 1rem;
}

#checkinTime h4 {
    padding: 0;
}

#hours {
    height: 2rem;
    width: 10rem;
    border: none;
    box-shadow:  1.5px 1.5px 2px 1px #0000001a;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
}

@media only screen and (min-width: 900px) {  
    #checkinTime {
        grid-column: 1;
        
    }
}