#bookingInfo {
    display: grid;
    margin: 1rem;
    column-gap: 3rem;
}

@media only screen and (min-width: 900px) {
    #bookingInfo {
        grid-template-columns: 2fr 1fr;
        padding: 2rem;
        column-gap: 2rem;
        row-gap: 2rem;
    }

    #bookingInfo h4 {
        padding: 0.5rem;
    }
}