#login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.acessForm {
    display: flex;
    flex-direction: column;
    width: 16rem;
}

.formTitle {
    margin-bottom: 0.6rem;
}

.field {
    margin-top: 0.3rem;
    height: 1.6rem;
    /* border: 1px solid gray;
    background-color: rgb(228, 228, 228); */
    border: none;
    color: rgb(63, 63, 63);
    background-color: rgb(167, 164, 164);
    box-shadow:  1.5px 1.5px 2px 1px #0000001a, 0 0 0 30px rgb(245, 245, 245) inset !important;
    border-radius: 0.2rem;
    padding-left: 0.3rem;
}

label {
    margin-top: 0.3rem;
}

.buttonForm {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 7rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.errorMessage {
    font-size: 0.78rem;
    color: rgb(248, 31, 31);
    /* width: 16rem; */
    width: 100%;
    height: 0.8rem;
}

.textNotes {
    display: flex;
    column-gap: 0.3rem;
    font-size: 0.85rem;
    color: rgb(53, 53, 53);
}

.textLink {
    color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
    .acessForm {
        width: 17rem;
    }

    .textNotes {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1200px) {
    .acessForm label{
        font-size: 1.2rem;
    }

    .field {
        height: 2rem;
    }

    .buttonForm {
        height: 1.7rem;
    }

    .acessForm {
        width: 20rem;
    }

    .textNotes {
        font-size: 1rem;
    }
}

